body {
    background: #0e0e0e;
    color: white;
    text-align: center;
    font-family: Arial;
}

h1 {
    font-size: 38px;
    margin-bottom: 20px;
    color: #e94560;
    text-shadow: 0 0 15px #e94560;
    animation: fadeIn 1s ease;
}


#controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
}

select, button {
    background: #0f3460;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s ease;
    box-shadow: 0 0 10px #0f3460;
}

select:hover,
button:hover {
    background: #1f4b86;
    box-shadow: 0 0 15px #1f4b86;
}

canvas {
    width: 900px;
    height: 350px;
    background: #0d1b2a;
    display: block;
    margin: 20px auto;
    border-radius: 12px;
    border: 2px solid #1b263b;
    box-shadow: 0 0 35px rgba(233, 69, 96, 0.5);
    transition: 0.6s ease;
}

canvas:hover {
    box-shadow: 0 0 35px rgba(233, 69, 96, 0.8);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to   { opacity: 1; transform: translateY(0); }
}